<h1>You played rock!</h1>

<img width="180" src="/assets/images/rock.png">

<h2>The computer played <%= @computer_move %>.</h2>

<img width="180" src="/assets/images/<%= @computer_move %>.png">

<h2>You <%= @outcome %>!</h2>
