<div class="row">
  <div class="col-md-4 col-md-offset-2 col-xs-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h2 class="panel-title text-center">
          Rock
        </h2>
      </div>
      <div class="panel-body">
        <img class="img-responsive" src="/assets/images/rock.png">
      </div>
    </div>
  </div>

  <div class="col-md-4 col-xs-6">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title text-center">
          <%= @computer_move.capitalize %>
        </h2>
      </div>
      <div class="panel-body">
        <img class="img-responsive" src="/assets/images/<%= @computer_move %>.png">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well text-center">
      <h1>
        <% if @outcome == "won" %>
          <% label_type = "success" %>
        <% elsif @outcome == "lost" %>
          <% label_type = "danger" %>
        <% elsif @outcome == "tied" %>
          <% label_type = "warning" %>
        <% end %>

        <span class="label label-<%= label_type %>">
          You <%= @outcome %>!
        </span>
      </h1>
    </div>
  </div>
</div>
